<a href="https://colab.research.google.com/github/matheusgastal/ENEM-Data-Analysis/blob/main/Limpeza_enem_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
from google.colab import drive
import matplotlib.pyplot as plt
import pandas as pd
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
df = pd.read_csv("/content/drive/MyDrive/dados_enem/MICRODADOS_ENEM_2023.csv",sep=';', encoding='ISO-8859-1')

In [26]:
df = df.dropna(axis=0, how='all')

In [27]:
df = df.dropna(subset=[
    "NU_NOTA_LC",
    "NU_NOTA_MT",
    "NU_NOTA_CH",
    "NU_NOTA_CN"
])

In [28]:
drop = [
    'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT',
    'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015',
    'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024',
    'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
    'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT','CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'TP_ENSINO', 'TP_SIT_FUNC_ESC', 'SG_UF_PROVA', 'CO_UF_ESC', 'CO_UF_PROVA', 'TP_ANO_CONCLUIU', 'CO_MUNICIPIO_ESC', 'CO_MUNICIPIO_PROVA', 'TP_ST_CONCLUSAO'
]


df = df.drop(columns=drop, errors='ignore')

In [29]:


mask = (
    (df["NU_NOTA_CH"] == 0) |
    (df["NU_NOTA_MT"] == 0) |
    (df["NU_NOTA_LC"] == 0) |
    (df["NU_NOTA_CN"] == 0)
)


df = df[~mask].copy()

df["NOTA_MEDIA"] = (
    df["NU_NOTA_CH"] +
    df["NU_NOTA_MT"] +
    df["NU_NOTA_LC"] +
    df["NU_NOTA_CN"] +
    df["NU_NOTA_REDACAO"]
) / 5

In [30]:
mapa_q025 = {
    'A': "Sem internet",
    'B': 'Com internet'
}
df['Q025'] = df['Q025'].replace(mapa_q025)

In [31]:
mapa_tp_dependencia = {
    1: "Federal",
    2: "Estadual",
    3: "Municipal",
    4: "Privada"
}
df['TP_DEPENDENCIA_ADM_ESC'] = df['TP_DEPENDENCIA_ADM_ESC'].replace(mapa_tp_dependencia)

In [32]:
map_tipo_escola = {
    1: "Nao Respondeu",
    2: "Publica",
    3: "Privada"
}
df['TP_ESCOLA'] = df['TP_ESCOLA'].replace(map_tipo_escola)

In [33]:
mapa_loc_escola = {
    1: "Urbana",
    2: "Rural"
}
df['TP_LOCALIZACAO_ESC'] = df['TP_LOCALIZACAO_ESC'].replace(mapa_loc_escola)

In [34]:
mapa_redacao = {
    1: "Sem problemas",
    2: "Anulada",
    3: "Cópia Texto Motivador",
    4: "Em Branco",
    6: "Fuga ao tema",
    7: "Não atendimento ao tipo textual",
    8: "Texto insuficiente",
    9: "Parte desconectada"
}
df['TP_STATUS_REDACAO'] = df['TP_STATUS_REDACAO'].replace(mapa_redacao)

In [35]:
mapa_idade = {
    1: '16',
    2: '17',
    3: '18',
    4: '19 ',
    5: '20',
    6: '21',
    7: '22',
    8: '23',
    9: '24',
    10: '25',
    11: '28',
    12: '33',
    13: '38',
    14: '43',
    15: '48',
    16: '53',
    17: '58',
    18: '63',
    19: '68',
    20: '70'
}
df['TP_FAIXA_ETARIA'] = df['TP_FAIXA_ETARIA'].replace(mapa_idade)

In [36]:

mapa_estado_civil = {
    0: 'Não informado',
    1: 'Solteiro(a)',
    2: 'Casado(a)',
    3: 'Divorciado(a)',
    4: 'Viuvo(a)',
}
df['TP_ESTADO_CIVIL'] = df['TP_ESTADO_CIVIL'].replace(mapa_estado_civil)

In [37]:
map_q006 = {
    'A': 0,
    'B': 660,
    'C': 1650,
    'D': 2310,
    'E': 2970,
    'F': 3630,
    'G': 4620,
    'H': 5940,
    'I': 7260,
    'J': 8580,
    'K': 9900,
    'L': 11220,
    'M': 12540,
    'N': 14520,
    'O': 17820,
    'P': 23100,
    'Q': 26400
}

df['Renda_estimada'] = df['Q006'].replace(map_q006)

/tmp/ipython-input-44534844.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Renda_estimada'] = df['Q006'].replace(map_q006)

In [38]:
map_q006_intervalos = {
    'A': 'Nenhuma Renda',
    'B': 'Até R$ 1.320',
    'C': 'R$ 1.321 - R$ 1.980',
    'D': 'R$ 1.981 - R$ 2.640',
    'E': 'R$ 2.641 - R$ 3.300',
    'F': 'R$ 3.301 - R$ 3.960',
    'G': 'R$ 3.961 - R$ 5.280',
    'H': 'R$ 5.281 - R$ 6.600',
    'I': 'R$ 6.601 - R$ 7.920',
    'J': 'R$ 7.921 - R$ 9.240',
    'K': 'R$ 9.241 - R$ 10.560',
    'L': 'R$ 10.561 - R$ 11.880',
    'M': 'R$ 11.881 - R$ 13.200',
    'N': 'R$ 13.201 - R$ 15.840',
    'O': 'R$ 15.841 - R$ 19.800',
    'P': 'R$ 19.801 - R$ 26.400',
    'Q': 'Acima de R$ 26.400'
}
df['Q006'] = df['Q006'].replace(map_q006_intervalos)

Na pergunta Q006, referente á renda do indivíduo, decidi criar outra coluna com uma renda estimada, renda média do intervalo. Além de traduzir e conservar o intervalo na coluna Q006 para visualizar em gráficos de maneira mais precisa

In [39]:
mapa_cor_raca = {
    0: 'Não declarado',
    1: 'Branca',
    2: 'Preta',
    3: 'Parda',
    4: 'Amarela',
    5: 'Indígena',
    6: 'Sem info'
}
df['TP_COR_RACA'] = df['TP_COR_RACA'].replace(mapa_cor_raca)

In [40]:
mapa_nacionalidade = {
    0: 'Não informado',
    1: 'Brasileiro(a)',
    2: 'Brasileiro(a) Naturalizado(a)',
    3: 'Estrangeiro(a)',
    4: 'Brasileiro(a) nascido(a) no exterior'
}
df['TP_NACIONALIDADE'] = df['TP_NACIONALIDADE'].replace(mapa_nacionalidade)

In [41]:
df = df[df['TP_ESCOLA'] != 'Nao Respondeu']

In [42]:
df = df[df['IN_TREINEIRO'] != 1].copy()
df = df.drop(columns=['IN_TREINEIRO'])

In [43]:
df.drop(columns = ['NU_ANO'], inplace = True)
df.dropna(how = 'any', inplace = True)

In [44]:
mapa_regioes = {
    'Norte': ['AM', 'RR', 'AP', 'PA', 'TO', 'RO', 'AC'],
    'Nordeste': ['MA', 'PI', 'CE', 'RN', 'PB', 'PE', 'AL', 'SE', 'BA'],
    'Sudeste': ['MG', 'ES', 'RJ', 'SP'],
    'Sul': ['PR', 'SC', 'RS'],
    'Centro-Oeste': ['MS', 'MT', 'GO', 'DF']
}
estado_para_regiao = {estado: regiao for regiao, estados in mapa_regioes.items() for estado in estados}

df['REGIAO'] = df['SG_UF_ESC'].map(estado_para_regiao).fillna('Outros')

In [46]:
df

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ESCOLA,NO_MUNICIPIO_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,...,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q006,Q025,NOTA_MEDIA,Renda_estimada,REGIAO
3,210060214087,17,F,Solteiro(a),Parda,Brasileiro(a),Publica,Fortaleza,CE,Estadual,...,508.5,507.2,466.7,Sem problemas,880.0,R$ 1.321 - R$ 1.980,Com internet,564.28,1650,Nordeste
4,210059980948,18,F,Solteiro(a),Parda,Brasileiro(a),Publica,Quixadá,CE,Estadual,...,379.2,446.9,338.3,Sem problemas,560.0,Até R$ 1.320,Sem internet,425.38,660,Nordeste
11,210060801595,18,M,Solteiro(a),Parda,Brasileiro(a) nascido(a) no exterior,Publica,Ubiratã,PR,Estadual,...,667.6,607.9,691.9,Sem problemas,780.0,R$ 1.981 - R$ 2.640,Com internet,671.12,2310,Sul
16,210058061534,19,F,Solteiro(a),Branca,Brasileiro(a),Publica,Belém,PA,Estadual,...,553.1,544.4,437.0,Sem problemas,880.0,Até R$ 1.320,Com internet,586.04,660,Norte
41,210059855121,18,M,Solteiro(a),Branca,Brasileiro(a),Publica,São Paulo,SP,Estadual,...,576.3,596.5,628.1,Sem problemas,600.0,R$ 1.981 - R$ 2.640,Com internet,584.94,2310,Sudeste
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3933921,210061962827,18,M,Solteiro(a),Branca,Brasileiro(a),Publica,Esteio,RS,Estadual,...,437.6,601.0,554.7,Sem problemas,320.0,R$ 5.281 - R$ 6.600,Com internet,499.68,5940,Sul
3933936,210061965954,18,M,Não informado,Branca,Brasileiro(a),Publica,Caraá,RS,Estadual,...,529.6,560.2,494.5,Cópia Texto Motivador,0.0,R$ 3.301 - R$ 3.960,Com internet,422.86,3630,Sul
3933940,210061965958,20,M,Solteiro(a),Branca,Brasileiro(a),Publica,São Leopoldo,RS,Privada,...,611.2,661.6,666.2,Sem problemas,760.0,R$ 3.961 - R$ 5.280,Com internet,659.94,4620,Sul
3933944,210061965962,17,F,Solteiro(a),Branca,Brasileiro(a),Privada,Capão da Canoa,RS,Privada,...,511.4,514.8,444.9,Sem problemas,600.0,R$ 9.241 - R$ 10.560,Com internet,503.02,9900,Sul
3933948,210061959674,18,M,Solteiro(a),Branca,Brasileiro(a),Publica,São Leopoldo,RS,Estadual,...,542.9,545.2,530.5,Sem problemas,600.0,R$ 3.301 - R$ 3.960,Com internet,538.96,3630,Sul